@import '../../../styles/mixins';

.homeForm {
	margin: 48px 0;
}

.formRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div.formInput {
	margin: 8px;
	width: 160px;
}
