@import '../../../styles/mixins';

.homeForm {
	margin: 48px 0;
}

.formRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.cards {
	margin: 24px 0 8px;
}

div.formInput1 {
	margin: 8px;
	width: 160px;
}

div.formInput2 {
	margin: 8px;
	width: 120px;

	@include breakMax(xs) {
		width: 160px;
	}
}
